<form method="post">
    <h3>Agregar nuevo caso:</h3>
    Fecha Examen Solicitado: <input type="date" name="fecha_examen_solicitado"><br>
    Área: <input type="text" name="area"><br>
    Caso: <input type="text" name="caso"><br>
    Folio: <input type="text" name="folio"><br>
    RUT Paciente: <input type="text" name="rut_paciente"><br>
    Nombre Paciente: <input type="text" name="nombre_paciente"><br>
    Fecha Cuestionario Médico Realizado: <input type="date" name="fecha_cuestionario_medico_realizado"><br>
    Fecha Examen Realizado: <input type="date" name="fecha_examen_realizado"><br>
    Fecha Facturado: <input type="date" name="fecha_facturado"><br>
    Estado: <input type="text" name="estado"><br>
    Dirección Paciente: <input type="text" name="direccion_paciente"><br>
    Crea Solicitud: <input type="text" name="crea_solicitud"><br>
    <button type="submit">Guardar</button>
</form>
